/* mobile phones */

@media screen and (max-width: 767px) {
    .navbar-brand {
        width: 100px;
    }
    .navbar-brand img {
        width:100%;
    }
    .navbar-default .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .catalog_element .catalog_list {
        padding-top: 20px;
        padding-bottom: 45px;
    }
    .send_mail input[type='email'] {
        width: 100%;
    }
    ul.small_nav,
    ul.social_nav {
        text-align: center;
    }
    ul.social_nav {
        margin-top: 0;
    }
    .nav_container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page_padding {
        padding-top: 50px;
    }
    .catalog_description p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li {
        display: block;
    }
    .product_element {
        padding-left: 15px;
        padding-right: 15px;
    }
    .button_bottom {
        position: static;
    }
    .product_element button {
        width: 100%;
    }
    .other_products img {
        padding-left: 15px;
        padding-right: 15px;
    }
    .carousel-indicators {
        bottom: 0;
    }
    #development {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .dev_row img {
        margin-top: 0;
    }
    .about_element iframe {
        height: 400px;
    }
}


/* tablet portrait orientation */

@media (min-width:768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        padding: 37.5px 6px 37.5px 6px;
    }
    .carousel-caption {
        font-size: 3em;
        top: 15%;
    }
    .product_carousel .carousel-inner>.item {
        padding-top: 0%;
    }
    .product_carousel {
        height: 100%;
    }
    .button_bottom {
        position: static;
    }
}


/* monitor and tablet */

@media (min-width:992px) and (max-width: 1279px) {
    .navbar-default .navbar-nav.phone_number>li>a {
        margin-right: 0;
        padding-left: 0;
    }
    .navbar-default .navbar-nav>li>a {
        padding-left: 6px;
        padding-right: 6px;
    }
    .carousel-control.left {
        left: 5%;
    }
    .carousel-control.right {
        right: 5%;
    }
    .button_bottom {
        bottom: -103px;
    }
}


/* big monitor */

@media (min-width:1280px) and (max-width: 1599px) {
    .carousel-control.left {
        left: 7.5%;
    }
    .carousel-control.right {
        right: 7.5%;
    }
}


/* big monitor */

@media (min-width:1600px) and (max-width: 1900px) {
    .carousel-control.left {
        left: 14.5%;
    }
    .carousel-control.right {
        right: 14.5%;
    }
}