// Base
.page-loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: $zindex-loader;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	line-height: 1;
	font-weight: 700;
	opacity: 1;
	visibility: visible;
	transition: .25s .5s;
	color: $gray-900;
}

.page-loader-progress {
	animation: loader-rotation 2s linear infinite;
}

.page-loader-circle {
	fill: transparent;
	stroke: $primary;
	stroke-linecap: round;
	stroke-dasharray: 2 * 3.14 * 88 * .1 2 * 3.14 * 88 * .9;
	stroke-dashoffset: 0;
	stroke-width: 4px;
	animation: loader-progress 1.5s ease-in-out infinite;
}

.page-loader-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px;
}

.page-loader-inner-side {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 40px;
	transition: .3s ease-in-out;
}

.page-loader-inner-side-1 {
	transform: translate3d( 0, 0, 0 ) rotateX( 90deg ) translateZ( 20px );
}

.page-loader-inner-side-2 {
	transform: translate3d( 0, 0, 0 ) rotateX( 0deg ) translateZ( 20px );
}

.page-loader-inner.active {
	.page-loader-inner-side-1 {
		transform: translate3d( 0, 0, 0 ) rotateX( 1deg ) translateZ( 20px );
	}

	.page-loader-inner-side-2 {
		transform: translate3d( 0, 0, 0 ) rotateX( -90deg ) translateZ( 20px );
	}
}

.page-loader-logo {
	margin-top: -10px;
	margin-left: -4px;
}

.page-loaded {
	.page-loader {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}


// Animations
@keyframes loader-rotation {
	from {
		transform: rotate( 0deg );
	}

	to {
		transform: rotate( 360deg );
	}
}

@keyframes loader-progress {
	0% {
		stroke-dasharray: 2 * 3.14 * 88 * .1 2 * 3.14 * 88 * .9;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 2 * 3.14 * 88 * .9 2 * 3.14 * 88 * .1;
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dasharray: 2 * 3.14 * 88 * .1 2 * 3.14 * 88 * .9;
		stroke-dashoffset: -2 * 3.14 * 88;
	}
}
