@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";

$form-check-input-border: 1px solid $gray-300;
$form-check-input-focus-box-shadow: none;

$custom-control-indicator-size:                 px-to-rem( 26px );
$custom-control-gutter:                         px-to-rem( 18px );
$custom-switch-width: px-to-rem( 60px );

@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/forms";

// Base style
label {
	font-size: $label-font-size;
	cursor: pointer;
}

textarea.form-control {
	min-height: px-to-rem( 200px );
	max-height: px-to-rem( 300px );
}

.form-group {
	position: relative;
	text-align: left;
	margin-bottom: 0;
}

.form-control {
	text-overflow: ellipsis;
}

.form-control-inline {
	display: inline-block;
	text-align: center;
	width: auto;
}

.form-group + .form-group {
	margin-top: 12px;
}

.input-group {
	> .form-control,
	> .form-control-plaintext,
	> .custom-select,
	> .custom-file {
		height: auto;
	}
}

@include media-breakpoint-up( md ) {
	.form-group + .form-group {
		margin-top: 22px;
	}
}


// Reset mozila validation styles
:invalid {
	box-shadow: none;
}

:-moz-submit-invalid {
	box-shadow: none;
}

:-moz-ui-invalid {
	box-shadow:none;
}


// Disabled form group
.form-group-disabled {
	pointer-events: none;

	.form-control {
		background-color: $input-disabled-bg;

		&::placeholder {
			opacity: .3;
		}
	}

	label {
		opacity: .3;
	}

	.input-group-text {
		&:before {
			opacity: .3;
		}
	}
}

// Form Group Icon
.form-group-icon {
	position: relative;
	width: 100%;

	.form-control {
		padding-right: 50px;
	}
}

// Form Icon
.form-icon,
.form-group-icon-btn {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 18px;
	pointer-events: none;
}

.form-group-icon-btn {
	transition: $transition-base;
	pointer-events: auto;

	&:hover {
		color: $primary;
	}
}

// Custom control
.custom-switch {
	.custom-control-label {
		&::after {
			top: calc(#{(($font-size-base * $line-height-base - $custom-control-indicator-size) / 2)});
			left: calc(#{-($custom-switch-width + $custom-control-gutter)});
		}
	}

	.custom-control-input:checked ~ .custom-control-label {
		&::before {
			background-color: $gray-300;
			border-color: $gray-300;
		}
		&::after {
			background-color: $primary;
		}
	}
}

// Input group
.input-group-text {
	position: relative;
	z-index: 1;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		height: 80%;
		transform: translateY( -50% );
		width: $input-border-width;
		background-color: $input-border-color;
	}

	&-nodivider {
		&:after {
			display: none;
		}
	}
}

// Prepend and append
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
	border-right-color: transparent;
}

.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
	border-left-color: transparent;
}

.input-group > .input-group-append > .input-group-text {
	&:after {
		left: 0;
	}
}


// Input password
.input-password {
	-webkit-text-security: disc;

	&.active {
		-webkit-text-security: none;
	}
}

.input-password-icon {
	font-family: 'Intense Icons';
	cursor: pointer;
	transition: $transition-base;

	&::before {
		content: '\e90e';
	}

	&:hover {
		color: $primary;
	}

	&.active {
		&::before {
			content: '\e90f';
		}
	}
}


// Contexts
.bg-200 {
	.form-control,
	.input-group-text {
		background: $white;
	}
}

.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.form-inline-group {
	position: relative;
	display: flex;
	flex-grow: 1;

	> * {
		flex-grow: 1;
	}
}
