@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";

// Variables
$code-font-size: 1em;

@import "../bootstrap/scss/mixins";

code {
	font-weight: 500;
	font-family: $font-family-mono;
	font-size: $code-font-size;
	color: $secondary;
}
