include ../alert/_alert
include ../breadcrumb/_breadcrumb

// Appointment calendar
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Appointment Calendar', category:'calendar', reload:true, id:'appointment-calendar' } )
	.container
		.row.row-30.row-xl-70.justify-content-center.novi-disabled
			.col-md-8.col-xl-6.text-center
				h1 Appointment
				p.lead.fw-normal You can contact us any way that is convenient for you. We are available 24/7 via fax or email.
			.col-12
				.fullcalendar( data-fullcalendar-event!=[
					{
						title:     '10:00 am',
						start:     '2021-08-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-08-14',
						end:       '2021-08-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-08-26',
						end:       '2021-08-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-09-05',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-09-11',
						end:       '2021-09-12',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-09-26',
						end:       '2021-09-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-10-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-10-14',
						end:       '2021-10-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-10-26',
						end:       '2021-10-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-11-09',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-11-17',
						end:       '2021-11-18',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-11-26',
						end:       '2021-11-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-12-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-12-14',
						end:       '2021-12-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-12-26',
						end:       '2021-12-27',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2022-01-09',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2022-01-17',
						end:       '2022-01-18',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2022-01-26',
						end:       '2022-01-28',
						className: 'fc-event-primary'
					}
				] )
