// Fullcalendar
section#fullcalendar.section.section-lg.overlay-light.overlay-light-05.bg-image.novi-background( style='background-image: url( images/image-37-1920x960.jpg )', data-preset!={ title:'Fullcalendar', category:'calendar', reload:true, id:'fullcalendar' } )
	.container-fluid
		.row.row-30.row-xl-70.justify-content-center.novi-disabled
			.col-md-8.col-xl-6.text-center
				h2 See It In Action
			.col-12
				.fullcalendar( data-fullcalendar-event!=[
					{
						title:     '10:00 am',
						start:     '2021-07-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-07-14',
						end:       '2021-07-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-07-26',
						end:       '2021-07-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-08-05',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-08-11',
						end:       '2021-08-12',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-08-26',
						end:       '2021-08-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-09-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-09-14',
						end:       '2021-09-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-09-26',
						end:       '2021-09-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-10-09',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-10-17',
						end:       '2021-10-18',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-10-26',
						end:       '2021-10-28',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-11-06',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-11-14',
						end:       '2021-11-16',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-11-26',
						end:       '2021-11-27',
						className: 'fc-event-primary'
					},
					{
						title:     '10:00 am',
						start:     '2021-12-09',
						className: 'fc-event-success'
					},
					{
						title:     '11:00 am',
						start:     '2021-12-17',
						end:       '2021-12-18',
						className: 'fc-event-warning'
					},
					{
						title:     '01:00 pm',
						start:     '2021-12-26',
						end:       '2021-12-28',
						className: 'fc-event-primary'
					}
				] )
